body{
    text-align: center;
    background-color: rgb(233, 215, 207);
    margin: 50px;
}

img{
    width: 600px;
    height: 600px;
}

h1{
    font-family: 'Oswald',sans-serif;
    color: rgb(83, 75, 75);
    font-weight: bold;
}

p{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(83, 75, 75);
    font-size: 30px;
}

